<!-- Footer -->
<footer>

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12 text-center py-1">

        <!-- Content -->
      <h5 class="text-uppercase">Get in Touch</h5>
        <p>Drop us an email at <a href="mailto:info@nubificus.co.uk">info@nubificus.co.uk</a>
      </div> 
      <!-- Grid column -->
    </div>

    <div class="row text-center">

      <!-- Grid column -->
      <div class="col-md-6">

        <!-- Links -->
        <h5 class="text-uppercase">Follow Us</h5>

        <ul class="list-unstyled">
          <li>
            <a href="https://twitter.com/nubificus" target="_blank"><span class="tf-ion-social-twitter" style="padding: 0 5px 0 0;"></span>Twitter
            </a>
          </li>
           <li>
            <a href="https://linkedin.com/company/nubificus" target="_blank"><span class="tf-ion-social-linkedin" style="padding: 0 7px 0 0;"></span>LinkedIn
            </a>
          </li>
         <li>
            <a href="https://github.com/nubificus" target="_blank"><span class="tf-ion-social-github" style="padding: 0 5px 0 0;"></span>Github       
            </a>
          </li>

         <li>
            <a href="https://blog.cloudkernels.net" target="_blank"><span class="tf-ion-ios-book" style="padding: 0 7px 0 0;"></span>Blog
            </a>
          </li>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-6">

        <!-- Links -->
        <h5 class="text-uppercase">Navigation</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#home">Home</a>
          </li>
          <li>
            <a href="#serverless">Serverless</a>
          </li>
           <li>
            <a href="#services">Services</a>
          </li>
          <li>
            <a href="#about">About</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

 </div>


  <!-- Copyright -->
 <div class="row">
            <div class="col-md-12">
                <div class="footer-copyright text-center py-3">
                    <p>Nubificus LTD is a company registered in England and Wales. Company #11545167.
                    <p>Copyright &copy; 2019 Nubificus LTD. Theme based on <a href="http://www.Themefisher.com">Themefisher</a>| All right reserved.</p>
                </div>
            </div>
    </div>
  <!-- Copyright -->
    </footer>

<!-- Footer -->
{{"<!-- Js -->" | safeHTML}}
<script src="{{"js/vendor/jquery-2.1.1.min.js" | absURL}}"></script>
<script src="{{"js/bootstrap.min.js" | absURL}}"></script>
<script src="{{"js/vendor/modernizr-2.6.2.min.js" | absURL}}"></script>
<script src="{{"js/jquery.lwtCountdown-1.0.js" | absURL}}"></script>
<script src="{{"js/owl.carousel.min.js" | absURL}}"></script>
<script src="{{"js/jquery.validate.min.js" | absURL}}"></script>
<script src="{{"js/jquery.form.js" | absURL}}"></script>
<script src="{{"js/jquery.nav.js" | absURL}}"></script>
<script src="{{"js/wow.min.js" | absURL}}"></script>
<script src="{{"js/main.js" | absURL}}"></script>

</body>

</html>
